<app-producto *ngIf="CotizacionSeleccionada" [cotizacion]="CotizacionSeleccionada"></app-producto>

<mat-sidenav-container>
<mat-sidenav-content>
<main class="col-md-9 col-lg-12 px-md-4">
      <div class="col-xl-12 col-lg-8 item-wr">
    <div class="col-xl-12 col-lg-8">
      <form [formGroup]="">
        <div class="card shadow mb-4">

           <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary"><span><H3> Generar Cotización</H3> </span></h3>

            </div>
    
             <div class="card-body">

            
            

            

          <button type="button" (click)="abrirModal(cotizacion)" class="btn btn-primary">Agregar Producto</button>

      </div>
      </div>
        </form>
	</div>

    </div>


     <table class="table table-bordered table-hover table-striped table-sm table-responsive">
        <thead>

          
          <tr>
            <th>Artículo</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
            <th>IVA</th>
            <th>Total</th>
           
             <th>Editar</th> 
            <th>Eliminar</th> 
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let cotiza of cotizacione" >

            <td>{{ cotiza.product.name }}</td>
            <td>{{ cotiza.product.presentation }}</td>
            <td>{{ cotiza.quantity }}</td>
            <td>$ {{ cotiza.price }}</td>
            <td>$ {{ cotiza.subtotal }}</td>
            <td>$ {{ cotiza.iva }}</td>
            <td>$ {{ cotiza.total }}</td>
           
             
             <td>
              <button type="button" name="editar"   (click)="abrirModal(cotiza)" class="btn btn-primary btn-sm">Editar</button>
            </td>

           
           <td>
              <button type="button" name="eliminar"  (click)="delete(cotiza)"  class="btn btn-danger btn-sm">Eliminar</button>
            </td>  
          </tr>
           <tr>  
            <td colspan= "3" ></td>  
            <td colspan= "1" ><b>Totales:</b> </td>  
            <td colspan= "1" ><b></b> $ {{suma1}}</td> 
            <td colspan= "1" ><b></b>$ {{suma2}} </td> 
            <td colspan= "1" ><b></b>$ {{suma3}} </td>  
          </tr>  
        </tbody>
      </table>


 <button (click)='eliminarCocki()' type="button" name="eliminar"   class="btn btn-success btn-sm">Generar Cotización</button> 
  </main>

</mat-sidenav-content>
</mat-sidenav-container>		
