
<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
<div class="modal" tabindex="-1" role="dialog" style="display:block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ titulo }}</h2>
        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cotizacionForm" class="example-form">
        <div class="container">
          <div class="row">

            <div class="col-sm">
           
         <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Producto</mat-label>
            <input type="text"
                   placeholder="Nombre del Producto"
                   aria-label="Number"
                   matInput
                   formControlName="empresa"
                  
                  (ngModelChange)="onChangeObj($event)"
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


             

               
                </div>
              </div>


                <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-8">
           
      
        <mat-form-field class="example-full-width">
          <mat-label>Precio del Producto</mat-label>
          <input formControlName="precio" matInput placeholder="" value="">
          </mat-form-field>

          
      
             

               
                </div>

             
              </div>

                 <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-8">
           
      
        <mat-form-field class="example-full-width">
          <mat-label>Cantidad</mat-label>
          <input formControlName="cantidad" matInput placeholder="" value="">
          </mat-form-field>

          
               
                </div>

             
              </div>

               <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-8">
           
      
        <mat-form-field class="example-full-width">
          <mat-label>Número de Solicitud</mat-label>
          <input formControlName="solicitud" matInput placeholder="" value="">
          </mat-form-field>

          
               
                </div>

             
              </div>



            </div>

            
         <br>  <!-- Aqui termina el primer modal body -->

          <br>


             
        </form>
           </div>
        
      <div class="modal-footer">
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
  </div>


