
<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
<div class="modal" tabindex="-1" role="dialog" style="display:block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ titulo }}</h2>
        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cotizacionForm" class="example-form">
        <div class="container">

        
      <div class="row row-cols-1 row-cols-md-2">
       

            <div class="col mb-6">
           
  
       
           <mat-form-field class="example-full-width">
              <mat-label>Empresa</mat-label>
              <mat-select formControlName="company"  name="cotizacion"
              >
              <mat-option *ngFor="let empresa of empresas" [value]="empresa._id">
              {{empresa.name}}
              </mat-option>
              </mat-select>
            </mat-form-field>

             

               
                </div>
             


              

            <div class="col mb-6">
           
  
       
           <mat-form-field class="example-full-width">
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="customer"  name="cotizacion"
              >
              <mat-option *ngFor="let clie of clientes" [value]="clie._id">
              {{clie.name}}
              </mat-option>
              </mat-select>
            </mat-form-field>

             

               
                </div>
              </div>

             

            
  
       
         <mat-form-field class="example-full-width">
          <mat-label>Número de Solicitud</mat-label>
          <input formControlName="noRequest"  matInput placeholder="" value="">
          </mat-form-field>

             
         <mat-form-field *ngIf="cotizacion._id" class="example-full-width">
          <mat-label>Producto</mat-label>
          <input formControlName="product"  readonly matInput placeholder="" value="">
          </mat-form-field>


               
            


          <div *ngIf="!cotizacion._id" class="row">

            <div class="col-sm">
           
       <!--  <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Producto</mat-label>
            <input type="text"
                   placeholder="Nombre del Producto"
                   aria-label="Number"
                   matInput
                   formControlName="product"
                  
                  (ngModelChange)="onChangeObj($event)"
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>   -->


             <mat-form-field class="example-full-width">
              <mat-label>Producto</mat-label>
              <mat-select  formControlName="product"  name="cotizacion" 
              >
              <mat-option *ngFor="let presenta of productos" [value]="presenta._id">
              {{presenta.name}}
              </mat-option>
              </mat-select>
            </mat-form-field>


           

             

               
                </div>
              </div>


                <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-8">
           
      
        <mat-form-field class="example-full-width">
          <mat-label>Precio del Producto</mat-label>
          <input formControlName="price" matInput placeholder="" value="">
          </mat-form-field>

          
      
             

               
                </div>

             
              </div>

                

            <div class="row row-cols-1 row-cols-md-2">
           
      <div  class="col mb-4">
        <mat-form-field class="example-full-width">
          <mat-label>Cantidad</mat-label>
          <input formControlName="quantity" matInput placeholder="" value="">
          </mat-form-field>

          </div>
               
              

             

           <div  class="col mb-4">
      
     <input type="checkbox"  (change)="GetStats($event)" > &nbsp;&nbsp;Observaciones
     
               </div>
               
             
               </div>



               <!---  -->


            <div  *ngIf="comentario"  class="row row-cols-1 row-cols-md-2">
           
      <div  class="col mb-4">
        

        <mat-form-field class="example-full-width">
          <mat-label>Observaciones</mat-label>
          <textarea formControlName="comment" matInput placeholder="Ejm. Producto hecho de madera...."></textarea>
          </mat-form-field>

          </div>
               
              

             

           <div  class="col mb-4">
      
          
               
             
               </div>


         
             </div>
             


             

          



            </div>

            
         <br>  <!-- Aqui termina el primer modal body -->

          <br>

        

                <button  (click)='guardarCotizacion()' class="btn btn-info btn-fill pull-right btn-space"  *ngIf="!cotizacion._id else elseBlock" >Registrar</button>  

               
       <ng-template #elseBlock>
            <button (click)='updateCotizacion()' class="btn btn-primary" role="button" >Editar</button>
          </ng-template>
          


        </form>
           </div>
        
      <div class="modal-footer">
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
  </div>


