
 
 <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand sm-6" href="index.html">Sistema Interno BANGRA</a>
            <!-- Sidebar Toggle-->
            &nbsp; &nbsp;
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 "  id="sidebarToggle" href="#!"><span class="navbar-toggler-icon"></span></button>
            <!-- Navbar Search-->
           
            <!-- Navbar-->

             <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li *ngIf="!autenticado"><a routerLink="/login" class="dropdown-item">Login</a></li>
                        <li *ngIf="autenticado" class="dropdown-item">
                        <a class="dropdown-item"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ver Perfil
                        </a>
                        <li *ngIf="autenticado" class="dropdown-item">
                        <a class="dropdown-item" (click)="logout()" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Salir de sistema
                        </a>
                      </li>
                    </ul>
                </li>
            </ul>

          
        </nav>

        <div  id="layoutSidenav" >  
          <div id="layoutSidenav_nav">



 <app-header *ngIf="autenticado"></app-header>   

  </div>

          <div  id="layoutSidenav_content">
                <main class="container py-2" >
                <router-outlet ></router-outlet>
                </main>
            </div>

             
               </div>

            <!--    <app-login *ngIf="!autenticado" ></app-login> -->

           
